.main-header {
  font-weight: bold;
  padding: 2em;
  text-align: center;

  h1 {
    color: #FFF;
    font-size: 6em;
    margin: 0;
    text-shadow: 2px 2px 0 rgba(#000, 0.4);

    span.word {
      &:nth-child(1),
      &:nth-child(3) {
        color: #F00;
      }
    }
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
